.main {
    width: 100%;
    flex: 7;
    border-radius: 32px;
    border: 1px dashed black;
    padding: 18px 4px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;

    position: relative;
}
.actionBtn {
    /* align-self: flex-end; */

    position: absolute;
    bottom: 16px;
    right: 24px;
    display: flex;
    gap: 8px;
}
