.output {
    width: 100%;
    flex: 3;
    border: 1px dashed rgba(0, 0, 0, 0.547);
    border-radius: 16px;
    /* display: flex; */
    padding: 16px;
    white-space: pre-wrap;
    overflow-y: scroll;
    overflow-x: scroll;
    align-items: flex-start;

    /* align-items: center; */

    /* justify-content: center; */
}
.invalid {
    color: red;
}
.valid {
    color: green;
}
