.key {
    font-family: monospace;
    font-size: medium;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: #f1f1f1;
    text-transform: capitalize;
    border: 2px solid #d1d1d1;
    border-bottom: 4px solid #d1d1d1;
}

.keysWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
