.main {
    flex: 4;
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 16px;
    border: 1px solid #989898aa;
    padding: 16px;
    padding-right: 0;
    overflow-y: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.wrapper {
    height: 100%;
    overflow-y: scroll;
    padding-right: 16px;
}
